.left-col {
  top: 0;
  left: 0;
  width: 160px;
  height: 2200px;
  background-color: gainsboro;
  float: left;
}
.welcome {
  background-color: #f9f9f9;
  margin: 10px;
  text-align: center;
  *border: 1px solid gray;
  height: 130px;
}
@media screen and (max-width:1200px) {
  .welcome {
    overflow: hidden;
  }
}

.titles {
  padding: 10px;;
}

.titles_green {
  background-color: #cef2e0;
  border: 1px solid #a3bfb1
}

.titles_blue {
  background-color: #cedff2;
  border: 1px solid #a3b0bf
}

.battle {
  width: 156px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.right-align {
  text-align: right;
}

.blue-styling {
  color: blue
}

.float-right {
  float: right;
  margin-left: 10px
}

.hannah {
  width: 120px
}

.article_nav {
  list-style-type: none;

}

.inline_nav {
  display:inline;
}

.inline_nav::after {
  content: ' . ';
  font-weight: bold;
}

#logo {
  height:160px;
  margin-left: 15px;
  margin-bottom: 20px
}

.main-description {
  list-style-type: none;
  color: #0645AD;
  margin-left: -20px;
}

.menu-label {
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid gray;
}

.all_nav {
  display: block
}

.interaction_nav {
  text-align: right;
  list-style-type: none;
}

.interaction_nav li {
  display: inline;
  margin-left: 10px;
  color: #0645AD;
}

.interaction_nav li:first-child {
  color: black
}

.nav-tabs {
  height: 100px;
}

.all_nav ul {
  display: inline
}

.main_nav {
  text-align: left;
}

.main_nav li {
  display: inline;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid lightblue;
  border-top: none;
  border-left: none
}

.today-picture {
  background-color: rgba(221,206,242, 0.5)
}
.titles_plum {
  background-color: #ddcef2;
  border: 1px solid #afa3bf
}

.locust {
  width: 500px;
  margin-left: 25%;
}

.photo_credit {
  text-align: center;
  font-size: 12px;
}
